.container {
  margin-top: 100px;
  width: 100%;
  height: fit-content;
  justify-items: center;
  display: flex;
  justify-content: center;
}

.container-head-box {
  background-color: #f2f2f2;
  width: 60%;
  position: relative;
  border-radius: 5px;
  padding: 20px 0 30px 0;
}

.container-head {
  text-align: center;
  font-size: 30px;
}

.info-container-box {
  background-color: wheat;
  width: 50%;
  margin-top: 90px;
  border-radius: 5px;
  padding: 20px 0 30px 0;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.info-container-box p strong {
  display: flex;
  margin-top: 8px;
  padding-right: 30px;
}

.container-signup-btn {
  background-color: lightcoral;
  border-radius: 30px;
  width: 60%;
  padding: 10px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  margin-top: 20px;
}

.container-signup-btn-p {
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding: 8px 20px;
  font-size: 18px;
  transition: 0.5s;
}

.container-signup-btn:hover {
  opacity: 0.8;
}

.container-signup-btn a:hover {
  color: black;
  text-decoration: underline;
}

/* Signup with Email */

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px auto 22px 0;
  border: none;
  background: #f1f1f1;
}

.submit-btn {
  display: flex;
  justify-content: center;
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  cursor: pointer;
  width: 60%;
  border-radius: 30px;
  opacity: 0.9;
}

.submit-btn:hover {
  opacity: 0.8;
  color: black;
  text-decoration: underline;
}

.form-group {
  width: 300px;
  text-align: center;
  font-size: 20px;
}

.form-group input {
  width: 100%;
  margin: 10px auto;
}

@media only screen and (max-width: 800px) {
  .form-group-label {
    display: block;
  }

  .form-group input {
    width: 70%;
  }
}
